<article class="post">
    <div class="title">
        <h2>{{title}}</h2>
        <p>{{post_content}}</p>
    </div>
    <div class="meta">
        {{user.username}} on
        {{format_date created_at}}
        |
        <span>{{comments.length}} {{format_plural "comment" comments.length}}</span>
    </div>
</article>